<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<appSettings>
		<add key="ServerAddress" value="" />
		<!-- Port is not mandatory when connecting to a new Broker. A random port will be used if not specified -->
		<add key="ServerPort" value="" />
		<add key="ServerUser" value="" />
		<!-- Password is used only to verify if SSH keys are generated and also authorized on the Mac -->
		<!-- If the SSH keys doesn't exists or are not authorized, then they are generated or authorized in order to re connect with SSH keys -->
		<add key="ServerPassword" value="" />
	</appSettings>
</configuration>
